@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600,700);
html,body{font-family:Roboto,Helvetica,"Helvetica Neue",Arial,sans-serif;margin:0px}.search-holderofall{font-family:Roboto,Helvetica,"Helvetica Neue",Arial,sans-serif;height:100vh;display:flex;justify-content:center;align-items:center;background-color:#EDEDED}@media only screen and (max-width: 500px){.search-holderofall{height:100%}}

