@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600,700);
$roboto:  Roboto, Helvetica, 'Helvetica Neue', Arial, sans-serif;
$fontColor: #5C5C5C;

html, body {
  font-family: $roboto;
  margin: 0px;
}

.search-holderofall {
  font-family: $roboto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDEDED;
  @media only screen and (max-width: 500px) {
    height: 100%;
  }
}
